@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------- */

body {
    font-family: 'Raleway', sans-serif;
}

.content-div {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 28px;
}

h1 {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 20px;
}

h2 {
    font-weight: lighter;
    font-size: 15px;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	display: flex;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.menu-list {
	display: flex;
	justify-content: space-between;
}

.menu-list-link {
	margin-left: 10px;
}

.menu-list-link>a {
	border-top: 2px solid transparent;
	padding: 40px;
}

.menu-list-link>a:hover {
	border-top: solid #0065FC 2px;
	padding: 40px;
	color: #0065FC;
	font-weight: bold;
}

.logo {
	width: 100px;
	height: auto;
}

.input {
	margin-bottom: 25px;
}

.information {
	font-weight: lighter;
    font-size: 14px;
}

.filters {
	width: 75%;
	margin-bottom: 30px;
}

.filters-list {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	align-items: center;
}

.filters-list h1 {
	margin: 0;
}

.filters-list-element:hover {
	cursor: pointer;
}

.filters-list-element>span{
	padding-right: 20px;
	padding-left: 55px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-left: -45px;
	border: solid #F2F2F2 2px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	z-index: 0;
}
.filters-list-element {
	display: flex;
	align-items: center;
}

.filters-list-element>i {
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;

}

.fa-solid.fa-location-dot {
	background-color: #F2F2F2;
}

form {
	display: flex;
	margin-bottom: 40px;
}

form>i {
	padding: 13px;
	border: solid #F2F2F2 1px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

form>input {
	border: solid #F2F2F2 1px;
	border-right: none;
	border-left: none;
	font-family: 'Raleway', sans-serif;
    font-size: 15px;
	font-weight: bolder;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	margin-left: 0px;
	margin-right: 0px;
	width: 200px;
}

form>input:focus{
	outline: none;
}

form>button {
	display: inline-block;
    border: none;
    padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
    margin: 0;
    text-decoration: none;
    background: #0065FC;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
	font-weight: bold;
    cursor: pointer;
    text-align: center;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	margin-left: 0px;
}

.fa-solid.fa-info {
	margin-right: 5px;
	color: #0065FC;
	font-size: 10px; 
	border: solid #F2F2F2 1px;
	border-radius: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.hebergements-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 10px;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.hebergement-link {
	display: flex;
    min-width: 200px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #d2d2d2;
    flex-wrap: wrap;
	width: 245px;
    height: 200px;
    margin-bottom: 30px;
}

.hebergement-link:hover {
	box-shadow: 0px 0px 20px #a8a8a8;
	transition: all 300ms;
}

.hebergement-box {
	display: flex;
	flex-wrap: wrap;
}

.hebergement-image {
	height: 115px;
	width: 100%;
}

.hebergement-image img {
	border-radius: 15px 15px 0 0;
	height: 115px;
	width: 100%;
	object-fit: cover;
}

.hebergement-description {
	width: 100%;
    padding: 10px;
	padding-bottom: 0;
}

.first-content-part {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

#hebergements {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-right: 40px;
	padding: 50px 10px 10px 10px;
	max-width: 1100px;
}

.most-popular {
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 50px 10px 0px 10px;
	width: 420px;
}

h3 {
	font-weight: bold;
}

p>span {
	font-weight: bold;
}

.section-header {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
}

.show-more {
	margin-left: 20px;
	font-weight: bold;
}

.hebergement-description>p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.popular.hebergement-link{
	width: 345px;
	height: 145px;
    padding: 5px;
    margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 15px;
}

.popular .hebergement-image{
	width: 135px;
	height: 100%;
}

.popular img{
	width: 135px;
	border-radius: 15px 0 0 15px;
	height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.popular .hebergement-box {
	display: flex;
	width: 345px;
	height: 145px;
	flex-wrap: nowrap;
}

.hebergements-container.popular {
	justify-content: center;
}

.popular .hebergement-description {
	width: auto;
	height: 145px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
}

.desc-header {
	padding-top: 10px;
}

.desc-header h3 {
	padding-right: 40px;
}

.popular p {
	margin-top: 10px;
}

.popular .rating-stars {
	padding-bottom: 15px;
}

#second-content-part {
	margin-top: 60px;
}

#second-content-part>h1 {
	margin-bottom: 30px;
}

.activities-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 445px;
}

.activities-container a {
	padding: 0;
	margin: 0;
}

.hebergement-link.large {
	height: 100%;
	min-width: 300px;
	min-height: 445px;
}

.large .hebergement-image {
	height: 390px;
}

.large img {
	height: 390px;
	width: 300px;
}

#second-content-part .hebergement-description {
	padding: 0;
	display: flex;
	align-items: center;
	height: 55px;
}

#second-content-part .hebergement-description>h3 {
	padding-left: 20px;
}

#second-content-part .hebergement-image {
	width: 300px;
}

#second-content-part img {
	width: 300px;
}

.hebergement-link.small {
	height: 100%;
	min-width: 300px;
	height: 202px;
}

.hebergement-link.small.first {
	margin-bottom: 40px;
}

.small .hebergement-image {
	height: 147px;
}

.small img {
	height: 147px;
	width: 100%;
}

.hebergement-link.xsmall {
	height: 100%;
	min-width: 300px;
	height: 175px;
	margin-top: 40px;
}

.xsmall .hebergement-image {
	height: 120px;
}

.xsmall img {
	height: 120px;
	width: 100%;
}

.hebergement-link.medium {
	height: 100%;
	min-width: 300px;
	height: 230px;
}

.medium .hebergement-image {
	height: 175px;
}

.medium img {
	height: 175px;
	width: 100%;
}

.footer {
	background-color: #F2F2F2;
	margin-top: 80px;
	display: flex;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer div {
	margin-right: 300px;
}

.footer h2 {
	font-weight: bold;
	margin-bottom: 20px;
}

.footer li {
	margin-bottom: 15px;
	font-size: 14px;
}